body
{
  color: white;
  background: #a0fdf5;
  font-size: 20px;
}
span
{
  font-size: 30px;
}
#camera
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
  padding-left: 20px;

}
 #result
 {
  border: 2px dashed black;
  width: 350px;
  height: 300px;
 padding:90px;
 
}

 
.heading{
  font-size: 18px;
  border-radius: 10px;
  letter-spacing:10px;
}
